@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #e5e5e5;
  --third-bg-color: #2f303a;
  --fourth-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --card-set-gup: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --pasive-icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  /* padding-top: 80px; */
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

/*обязательно*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

span {
  color: var(--accent-text-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  color: var(--primary-text-color);
  background-color: var(--fourth-bg-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 72px;
  text-align: center;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn__button:hover,
.list-btn__button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section {
  padding: 94px 0;
}

.section__work {
  padding: 0 0 94px 0;
}

.team {
  background-color: var(--secondary-bg-color);
}

.title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.team,
.section__title,
.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: none;
  margin-bottom: 10px;
  text-align: center;
}

.text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header {
  /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; */
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.address__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-text-color);
}

.nav__address-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.address__item {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.address__link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.address-nav {
  margin-left: auto;
}

.footer-logo,
.footer-address {
  color: var(--white-color);
}

.nav__link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}

.nav__link--current {
  color: var(--accent-text-color);
  position: relative;
}

.nav__link--current::after {
  position: absolute;
  bottom: -1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.nav__logo, .footer-logo {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo, .footer-logo {
  margin-right: 93px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-nav {
  padding: 0;
  margin-right: 10px;
  fill: currentColor;
}

.nav__list .item:not(:last-child) {
  margin-right: 50px;
}

.footer {
  background-color: var(--third-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address .link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__box-address {
  margin-right: 70px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer__box-social {
  margin-right: 93px;
}

.footer__title {
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-wrapper__text {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white-color);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-text-color);
}

.footer__social-icon {
  fill: currentColor;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.footer-form__label {
  margin-right: 12px;
}

.footer-form__input {
  width: 358px;
  padding: 15px 16px;
  font: inherit;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form__input:focus {
  outline: none;
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:not(:placeholder-shown) {
  border-color: var(--accent-text-color);
}

.footer-form__button {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer-form__button::after {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: inherit;
  background-image: url(../images/icons/icon-send.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__list:not(:last-child) {
  margin-right: 9px;
}

.container-partfolio {
  padding: 94px 0;
}

/* ----PORTFOLIO-container------- */
.list-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gup));
  margin-top: calc(-1 * var(--card-set-gup));
}

.grid__item {
  max-width: 370px;
  -ms-flex-preferred-size: calc 33.33333%-var(--card-set-gup);
      flex-basis: calc 33.33333%-var(--card-set-gup);
  margin-right: var(--card-set-gup);
  margin-top: var(--card-set-gup);
}

/* .grid__box {
      position: relative;
    } */
.grid__link {
  display: block;
  border: 1px solid #eeeeee;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__link:hover, .grid__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid__box2 {
  position: relative;
  overflow: hidden;
}

/* --задали на ссылку для ховера, а не на картинку-- */
/* .grid__box2:hover::before {
    opacity: 1;
  } */
.grid__box3 {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__link:hover .grid__box3 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.grid__link:hover .grid__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.grid__text {
  color: var(--white-color);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  /* opacity: 0; */
}

.grid__link:hover .grid__text {
  opacity: 1;
}

.user-chois {
  padding: 24px 20px;
}

.user-chois__title {
  font-size: 18px;
  line-height: calc(30 / 18);
  text-transform: none;
  margin-bottom: 4px;
}

.user-chois__text {
  font-size: 16px;
  line-height: calc(30 / 16);
}
/*# sourceMappingURL=portfolio.css.map */