.abilities {
    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
    @media screen and (min-width: 1200px){
      flex-wrap: nowrap;
      margin: 0;
  }
} 
.abilities__item {
    @media screen and (min-width: 768px){
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    width: 270px;
    }

    @media screen and (min-width: 1200px){
      margin: 0;
      
    &:not(:last-child) {
      margin-right: $cardSetGup;
     }
    }
  }
//     &:not(:last-child) {
//       margin-right: $cardSetGup;
//     }
//   }  
.abilities__box {
    
    // width: 270px;
    height: 120px;
    @include centeredFlex ();
    background-color: $fourthBgColor;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  
.abilities__title {
    margin-bottom: 10px;
  }

.abilities__text{
    @extend .text;
    @media screen and (max-width: 767px){
    margin-bottom: 30px;}
  }