// .abilities {
//     display: flex;
//   }
// .abilities__item {
//     width: 270px;

//     &:not(:last-child) {
//       margin-right: $cardSetGup;
//     }
//   }
  

  
.abilities__box {
    
    // width: 270px;
    height: 120px;
    @include centeredFlex ();
  
    margin-bottom: 30px;
    background-color: $fourthBgColor;
    border-radius: 4px;
  }
  
.abilities__title {
    margin-bottom: 10px;
  }

.abilities__text{
    @extend .text;
    margin-bottom: 30px;
  }