
.hero{
  // display: flex;
  // align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--white-color);
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),

      url('../images/hero/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    // height: 400px;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),    
    url('../images/hero/hero2x.jpg');
  }

    @media screen and (min-width: 768px) {
      background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-tablet.jpg');

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),    
    url('../images/hero/hero-tablet2x.jpg');
  }
    }
    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero-desktop.jpg');

      height: 600px;

      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),    
    url('../images/hero/hero-desktop2x.jpg');
  }
    }

}



// .hero {
//     height: 600px;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     color: var(--white-color);
//     text-align: center;
//     padding: 200px 0;
//     background-color: #c4c4c4;
    // background-image: linear-gradient(
    //     to right,
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
//       url(../images/bg-hero.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//   }
  
.hero__button {
    color: var(--white-color);
    padding: 10px 32px;
    @include fontStyle(16px, 700, 1.85, 0.06em);
   
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  }
  

  

  