// .backdrop{
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
  
//     background: rgba(0, 0, 0, 0.2);
  
//     opacity: 1;
  
//    transition: opacity;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
  
// .backdrop.is-hidden{
//     opacity: 0;
//     pointer-events: none;
//   }
  
// .backdrop.is-hidden .modal{
//   transform: translate(-50%, -50%) scale(2.1) rotate(50deg);
//   }
  
  
// .modal{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%) scale(1) rotate(0deg);
  
//     /* display: flex; */
//     width: 528px;
//     height: 581px;
//     padding: 40px;
    
//     transition-property: transform;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
//     background-color: var(--white-color);
//     box-shadow: 
//     0px 1px 3px rgba(0, 0, 0, 0.12), 
//     0px 1px 1px rgba(0, 0, 0, 0.14), 
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
    
//   }
  

  
// .modal__text {
//   display: block;
//   margin-bottom: 12px;
//   font-weight: 700;
//   font-size: 20px;
//   line-height: calc(23 / 20);
//   letter-spacing: 0.03em;
//   margin-bottom: 12px;
//   }
  
// .modal__form {
//     display: flex;
//     flex-direction: column;
//   }
  
// .modal__input,
// .modal__form-textarea{
//     width: 100%;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     box-sizing: border-box;
//     border-radius: 4px;
//   }
  
// .modal__label {
//     font-size: 12px;
//     color: var(--secondary-text-color);
//   }
  
// .modal__label:nth-child(-n + 3){
//     margin-bottom: 10px;
//   }
  
// .modal__wrapper{
//     position: relative;
//     display: block;
//     margin-top: 6px;
//   }
  
  
// .modal__input {
//   padding-left: 42px;
//   height: 40px;
  
//   transition-property: border-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
  
// .modal__input:focus{
//     outline: none;
//     border-color: rgba(33, 150, 243, 1);
//   } 
  
// .modal__input:focus + .modal__icon{
//     fill: rgba(33, 150, 243, 1);
//   }
  
//   /* ---valid---invalid--- */
//   /* .modal__input:focus:not(:placeholder-shown):valid{
//     outline: 1px solid var(--accent-text-color);
//   } */
  
//   /* .modal__input:focus:not(:placeholder-shown):invalid{
//     outline: 1px solid var(--third-bg-color);
//   } */
  
// .modal__icon{
//   position: absolute;
//   top: 50%;
//   left: 12px;
//   transform: translateY(-50%);
//   width: 18px;
//   height: 18px;
//   fill: var(--primary-text-color);
  
//   transition-property: fill;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   }
  
// .modal__label-textarea{
//     margin-bottom: 20px;
//   }
  
// .modal__form-textarea{
//   display: block;
//   height: 120px;
//   padding: 12px 16px;
//   margin-top: 4px;
//   resize: none;
  
//   transition-property: border-color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//   &:focus{
//     outline: none;
//     border-color:  rgba(33, 150, 243, 1);
//   }

//   &::placeholder{
//     color: rgba(117, 117, 117, 0.5);
//   }
//   }
  

  

  
// .form-chackbox-label{
//   @include centeredFlex();
//     margin-bottom: 30px;
//     font-size: 14px;
//     line-height: calc( 24 / 14);
//     letter-spacing: 0.03em;

//     &::before {
//       display: block;
//       content: "";
//       width: 16px;
//       height: 15px;
//       margin-right: 7px;
//       cursor: pointer;
//       border-radius: 2px;
//      border: 1px solid rgba(33, 33, 33, 1);
//     }

//     .form-chackbox-input:checked + &::before{
//   background-image: url(../images/icons/Vectorone-form.svg);
//   background-repeat: no-repeat;
//   /* background-position: center; */
//   background-size: contain;
//   background-origin: border-box;
//   background-color:rgba(33, 150, 243, 1);
//   }
//   }
  

  
   
//     /* .form-chackbox-input:checked + 
//    .form-chackbox-label::before{
//      background-image: url(../images/icons/Vectorone-form.svg);
//      background-repeat: no-repeat;

//      background-size: contain;
//      background-origin: border-box;
//      background-color:rgba(33, 150, 243, 1);
//      } */
  
// .form-chackbox-link{
//     text-decoration: underline;
//     color: var(--accent-text-color);
//   }
  
// .modal-btn-submit{
//     display: block;
//     width: 200px;
//     margin: 0 auto;
//   }
  
  
// .modal-close{
//     position: absolute;
//     top: 8px;
//     right: 8px;
//     @include centeredFlex();
//     width: 30px;
//     height: 30px;
//     background-color: var(--white-color);
//     border: 1px solid #0000001A;
//     box-shadow: 
//     0px 1px 3px rgba(0, 0, 0, 0.12), 
//     0px 1px 1px rgba(0, 0, 0, 0.14), 
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 50%;
//   cursor: pointer;
//   }