.nav__logo {
    @include fontStyle(24px, 700, 1.16);
    font-family: Raleway;
    color: var(--primary-text-color);

}


.nav__list{
    display: none;

    @media screen and (min-width: 768px) {
        display: block;      
    }
}

.nav__link {
    @media screen and (min-width: 768px){
    color: var(--primary-text-color);
  
    @include fontStyle(14px, 500, 1.14, 00.02em);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--accent-text-color);
  }
  }
}
  
.nav__link--current {
    @media screen and (min-width: 768px){
    color: var(--accent-text-color);
    position: relative;

    &::after {
      position: absolute;
      bottom: -1px;
    
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-text-color);
      border-radius: 2px;
    }
  }
}
.nav__list {
    @media screen and (min-width: 768px){
    display: flex;
    align-items: center;
  }
}  

.nav__logo {
    @media screen and (min-width: 768px){
    margin-right: 88px;
  }
    @media screen and (min-width: 1200px){
    margin-right: 93px;
  }
} 
.nav {
    display: flex;
    align-items: center;
  }
  
  
.icon-nav {
    padding: 0;
    margin-right: 10px;
    fill: currentColor;
  }

.nav__item:not(:last-child) {
    margin-right: 50px;
  }

  

  
