// .title {
//     display: flex;
//   }
  
.team__section {
    background-color: var(--fourth-bg-color);
  }
  
.team__item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--card-shadow);
    background-color: var(--primary-bg-color);
        &:not(:last-child){
            margin-bottom: var(--card-set-gup);
        }

//     &:not(:last-child) {
//       margin-right: var(--card-set-gup);
//     }
  }
  

  
.team__card {
    padding: 30px 0;
    text-align: center;
  }
  
.team__text {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--secondary-text-color);
  }