.section__work{
    display: none;
}

// .work {
//     display: flex;
//     justify-content: center;
//   }
  
// .work__item:not(:last-child) {
//     margin-right: var(--card-set-gup);
//   }
  
// .work__wrapper {
//     position: relative;
//   }
  
// .work__text {
//     height: 70px;

//     @include centeredFlex();

//     @include fontStyle(14px, 700, 1.14);
    
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     text-transform: uppercase;
  
//     color: var(--white-color);
//     background: rgba(47, 48, 58, 0.8);
   
//   }