.section{
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

// .section {
//     padding: 94px 0;
//   }

.section__work {
    @media screen and (min-width: 1200px) {
    padding: 0 0 94px 0;}
}

