.social-list {
    display: flex;
    justify-content: center;
  }
  
.social-list__link {
    @include centeredFlex();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--pasive-icon-color);
  
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--white-color);
    background-color: var(--accent-text-color);
  }
  }
  
.social-list__item:not(:last-child) {
    margin-right: 10px;
  }
  
.social-list__icon {
    fill: currentColor;
  }