// Переменные
:root{
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #e5e5e5;
  --third-bg-color: #2f303a;
  --fourth-bg-color: #f5f4fa;
  --white-color: #ffffff;
  --card-set-gup: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --pasive-icon-color: #afb1b8;
}

$primaryTextColor:#212121;
$secondaryTextColor:#757575;
$accentColor:#2196f3;
$primaryBgColor:#ffffff;
$secondaryBgColor:#e5e5e5;
$thirdBgColor: #2f303a;
$fourthBgColor:#f5f4fa;
$whiteColor:#ffffff;
$cardSetGup:var(--card-set-gup);
$cardShadow:var(--card-shadow);
$pasiveIconColor:var(--pasive-icon-color);

$fz: 14px;
$fw: 700;
$linHei: 1.14;
$letSp: 0.03em;

